{% extends "myapp/main.html" %}
{% load static %}
{% block content %}



<link href="{% static 'cartcss/checkout.css' %}" rel="stylesheet">

<section class="h-100 h-custom" style="background-color: #eee;padding-top:50px;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card shopping-cart" style="border-radius: 15px;">
                    <div class="card-body text-black">
                        <div class="col-lg-6 px-5 py-4 mx-auto">
                            <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Checkout Form </h3>
                            <form class="mb-3" method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary btn-block btn-lg">Place Order</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


