{% extends 'myapp/main.html'%}
{% block content %}
{% load static %}


{% if messages %}
  <script>
    {% for message in messages %}
       alert('{{ message }}');
    {% endfor%}
  </script>
{% endif %}

        <!-- Carousel Start -->
        <div class="carousel">
            <div class="container-fluid">
                <div class="owl-carousel">
                    {% for car in carousel %}
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="/media/{{ car.image }} " alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>{{ car.first_title }} <span>{{ car.span_title }}</span> {{ car.last_title }} </h1>
                            <p> {{ car.text }} </p>
                            <div class="carousel-btn">
                            {% if user.is_authenticated %}
                                <a class="btn custom-btn" href="{% url 'about' %}">About Us</a>
                                <a class="btn custom-btn" href="{% url 'menu' %}">View Menu</a>
                            {% else %}
                                <a class="btn custom-btn" href="{% url 'signin' %}">Sign In</a>
                                <a class="btn custom-btn" href="{% url 'register' %}">Register</a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                   {% endfor %} 
                </div>
            </div>
        </div>
        <!-- Carousel End -->
        
        
        
        

        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="{% static 'img/about.jpg' %}" alt="Image">
                            <button type="button" class="btn-play" data-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal">
                                <span></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-header">
                                <p>About Us</p>
                                <h2>Cooking Since 1990</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                
                                    Burger King  has been providing the services to its customer since 1990, from day we are  providing  the most hygienic and nutritious food in excellent surroundings, and atmosphere to our esteemed customers visting us at burns road focusing on the health of the customer using natural ingredients which are rich in nutrients and vitamins.

                                  
                                   
                                </p>
                                <p>
                                    As a part of these intensive efforts  , family hall has been  established , which was highly appreciated by our customers, we are able to offer this multi storied state of the art restaurant where customer can enjoy the delicious food creating the sweet memories with their loved ones. 
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        
        
        <!-- Video Modal Start-->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>        
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- Video Modal End -->
        
        
        <!-- Feature Start -->
        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="section-header">
                            <p>Why Choose Us</p>
                            <h2>Our Key Features</h2>
                        </div>
                        <div class="feature-text">
                            <div class="feature-img">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="{% static 'img/feature-1.jpg' %}" alt="Image">
                                    </div>
                                    <div class="col-6">
                                        <img src="{% static 'img/feature-2.jpg ' %}" alt="Image">
                                    </div>
                                    <div class="col-6">
                                        <img src="{% static 'img/feature-3.jpg' %}" alt="Image">
                                    </div>
                                    <div class="col-6">
                                        <img src="{% static 'img/feature-4.jpg' %}" alt="Image">
                                    </div>
                                </div>
                            </div>
                            <p>
                                We provide fresh and healthy food which are prepared by the prefessional and experienced chef's which is prepared using natural fresh green Vegetables and Meat prioritizing the quality of food focusing on the  health and the taste of our customers. 
                            </p>
                            
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-cooking"></i>
                                    <h3>World’s best Chef</h3>
                                    <p>
                                        We are providing our services with the help of the professinal and skilled chiefs who are highly experienced.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-vegetable"></i>
                                    <h3>Natural ingredients</h3>
                                    <p>
                                       Since we are focused on providing healthy food we use  Natural Ingredients for our cooking.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-medal"></i>
                                    <h3>Best quality products</h3>
                                    <p>
                                        As we are concerned about oue customer' health , Our top priority is the quality of food.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-meat"></i>
                                    <h3>Fresh vegetables & Meat</h3>
                                    <p>
                                        All the ingredients we use for the food  vegetables and meat are fresh  from supermarket. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-courier"></i>
                                    <h3>Fastest door delivery</h3>
                                    <p>
                                        We provide fastest delivery of our food so that our customer can enjoy fresh food.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-fruits-and-vegetables"></i>
                                    <h3>Ground beef & Low fat</h3>
                                    <p>
                                        All the non-veg items We provide are  well cooked meats with low fat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End -->
        
        
       <!-- Food Start -->
       <div class="food mt-0">
        <div class="container">
            <div class="row align-items-center">
                {% for cate in category %}
                <div class="col-md-4">
                    <div class="food-item">
                        <i class="{{ cate.icon }}"></i>
                        <h2>{{ cate.name }}</h2>
                        <p>{{ cate.description }}</p>
                        <a href="{% url 'alldishes'  %}?q={{ cate.id }}">View Menu</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Food End -->
    
        
<!-- Menu Start -->
<div class="menu">
    <div class="container">
        <div class="section-header text-center">
            <p>Food Menu</p>
            <h2>Delicious Food Menu</h2>
        </div>
        <div class="menu-tab">
            <ul class="nav nav-pills justify-content-center">
                {% for category_item in category %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#cat_{{  category_item.id  }}">{{ category_item.name }}</a>
                </li>
                {% endfor %}
            </ul>    
        <div class="tab-content">
            {% for category_item in category %}
            <div id="cat_{{ category_item.id }}" class="container tab-pane {% if forloop.first %}active{% endif %}">
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        {% for dish in category_item.dish_set.all %}
                        <div class="menu-item">
                            <div class="menu-img">
                                <img src="/media/{{ dish.image }}" alt="Image">
                            </div>
                            <div class="menu-text">
                                <h3><span><a href="  {% url 'dish' id=dish.id %}" >{{ dish.name }}<strong>Rs.{{ dish.price }}</strong></a></span></h3>
                                <p>{{ dish.ingredients }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-5 d-none d-lg-block">
                        <img src="/media/{{ category_item.image }}" alt="Image" style="max-width:auto;height:100%;">
                    </div> 
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
</div>
<!-- Menu End -->
        
        
        <!-- Team Start -->
        <div class="team">
            <div class="container">
                <div class="section-header text-center">
                    <p>Our Team</p>
                    <h2>Our Master Chef</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team-1.jpg' %}" alt="Image">
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h2>Adam Phillips</h2>
                                <p>CEO, Co Founder</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team-2.jpg' %}" alt="Image">
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h2>Dylan Adams</h2>
                                <p>Master Chef</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team-3.jpg' %}" alt="Image">
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h2>Jhon Doe</h2>
                                <p>Master Chef</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{% static 'img/team-4.jpg' %}" alt="Image">
                                <div class="team-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-text">
                                <h2>Josh Dunn</h2>
                                <p>Master Chef</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
        
        
        <!-- Contact Start -->
        <div class="contact">
            <div class="container">
                <div class="section-header text-center">
                    <p>Contact Us</p>
                    <h2>Contact For Any Query</h2>
                </div>
                <div class="row align-items-center contact-information">
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-map-marker-alt"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Address</h3>
                                <p>123 Street, NY, USA</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-phone-alt"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Call Us</h3>
                                <p>+012 345 6789</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Email Us</h3>
                                <p>info@example.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="contact-info">
                            <div class="contact-icon">
                                <i class="fa fa-share"></i>
                            </div>
                            <div class="contact-text">
                                <h3>Follow Us</h3>
                                <div class="contact-social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row contact-form">
                    <div class="col-md-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.6673418840237!2d85.32780204051063!3d27.696674674979132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb199a06c2eaf9%3A0xc5670a9173e161de!2sNew%20Baneshwor%2C%20Kathmandu%2044600!5e0!3m2!1sen!2snp!4v1693040059181!5m2!1sen!2snp"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div class="col-md-6">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" id="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="btn custom-btn" type="submit" id="sendMessageButton">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->



        {% endblock %}

