{% extends "myapp/main.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'auth/fonts/material-icon/css/material-design-iconic-font.min.css' %}">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- Main css -->
<link rel="stylesheet" href="{% static 'auth/css/style.css' %}">

<style>
    
    .container{
        background-color: transparent;
        width: 90%;
    }
    .main .container{
        background-color: white !important;
        width: 60%;
    }
    .main{
        padding-top: 100px;
        margin: 0px;
    }
    .nav-link{
        color:#719a0a !important;
    }   
   #signup{
       background:#719a0a;
   }

</style>


{% if status %}
<script>
    alert('{{status}}');
</script>
{% endif %}

{% if error %}
<script>
    alert('{{error}}');
</script>
{% endif %}


<div class="main">
<!-- Sign up form -->
<section class="signup" style="padding-top:100px;">
    <div class="container main-container p-0">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form method="POST" class="register-form" action="{% url 'register' %}">
                    <div id="msz"></div>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="name" id="name" placeholder="Your Name" required />
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" name="email" id="mail" placeholder="Your Email" onkeyup="check_email()" required />
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="pass" id="pass" placeholder="Password" onkeyup="checkPass()" required />
                    </div>

                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" onkeyup="checkPass()" required />
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="text" name="number" id="num" placeholder="Contact Number" pattern="[0-9]{10}" title="Number must contain 10 digits only!" required />
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                    </div>
                    
                </form>
            </div>  
            <div class="signup-image">
                <figure><img src="{% static 'auth/images/signup-image.jpg' %}" alt="sing up image"></figure>
                <a href="{% url 'signin' %}" class="signup-image-link">I am already member</a>
            </div>
        </div>
        
    </div>
</section>
</div>

<script>
    function checkPass() {
        var p = $('#pass').val();
        var cp = $('#re_pass').val();
        if (p == cp) {
            $("#signup").prop('disabled', false).css('background', '#6dabe4');
            $('#msz').html('');
        } else {
            $("#signup").prop('disabled', true).css('background', 'red');
            $('#msz').html("<small>Passwords don't match!</small>");
        }
    }
    
    function check_email() {
        let email = $('#mail').val();
        $.ajax({
            url: '{% url "check_user_exist" %}',
            type: 'get',
            data: { usern: email },
            success: function(data) {
                if (data.status == 0) {
                    $('#signup').prop('disabled', false).css('background', '#719a0a');
                    $('#msz').html('');
                } else {
                    $('#signup').prop('disabled', true).css('background', 'red');
                    $('#msz').html("<small>" + data.message + "</small>");
                }
            }
        });
    }
    
</script>

{% endblock %}

