{% extends 'customadmin/main2.html' %}
{% load static %}
{% block content2 %}

{% if messages %}
{% for message in messages %}
<script>
     alert('{{ message }}');
</script>
{% endfor %}
{% endif %}

             <!-- Form Start -->
             <div class="container-fluid pt-4 px-4 " style='margin:80px 0px; padding-bottom: 300px;' >
               <div class="row g-4 ">
                    <div class="bg-secondary rounded h-100 p-4 ">
                         <h6 class="mb-4 text-center" style="padding:30px;font-size: 20px;">Add User</h6>
                         <form method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                             <div class="row mb-3">
                                 <label for="name" class="col-sm-2 col-form-label">Username</label>
                                 <div class="col-sm-7">
                                     <input type="text" class="form-control" name="username">
                                 </div>
                             </div>
                             <div class="row mb-3">
                              <label for="name" class="col-sm-2 col-form-label">First Name</label>
                              <div class="col-sm-7">
                                  <input type="text" class="form-control" name="first_name">
                              </div>
                          </div>
                          <div class="row mb-3">
                              <label for="name" class="col-sm-2 col-form-label">Last Name</label>
                              <div class="col-sm-7">
                                  <input type="text" class="form-control" name="last_name">
                              </div>
                          </div>
                             <div class="row mb-3">
                              <label for="ingredients" class="col-sm-2 col-form-label">Password</label>
                              <div class="col-sm-7">
                                   <input type="password" class="form-control" name="password">
                               </div>
                          </div>
                          <div class="row mb-3">
                              <label for="ingredients" class="col-sm-2 col-form-label">Conform Password</label>
                              <div class="col-sm-7">
                                   <input type="password" class="form-control" name="password1">
                               </div>
                          </div>
                        <div style="padding-top:30px;">
                         <button type="submit" class="btn btn-primary" name="">Save</button>
                      </div>
                     </form>
                     </div>
                 </div>
    {% endblock  %}