{% extends 'customadmin/main2.html' %}
{% load static %}
{% block content2 %}

{% if messages %}
{% for message in messages %}
     <script>
        alert('{{ message }}')
     </script>
 {% endfor %}
 {% endif %}


<style>
     img{
          height:auto;
          width:30px;
     }
</style>

     
            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4" style="margin-top:150px;">
               <div class="row g-4">
                   <div class="col-lg-11 col-xl-12 ">
                       <div class="bg-secondary rounded h-100 p-4">
                           <h6 class="mb-4 text-center">Category Table</h6>
                           <table class="table table-hover ">
                               <thead>
                                   <tr>
                                       <th scope="col">Id</th>
                                       <th scope="col">Name</th>
                                       <th scope="col">Image</th>
                                       <th scope="col">Added On</th>
                                       <th scope="col">Updated On</th>
                                       <th scope="col">Edit</th>
                                       <th scope="col">Delete</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for objs in obj %}
                                   <tr>
                                       <th scope="row">{{ objs.id }}</th>
                                       <td>{{ objs.name }}</td>
                                       <td><img src="/media/{{ objs.image }}"></td>
                                       <td>{{ objs.added_on }}</td>
                                       <td>{{ objs.updated_on }}</td>
                                       <td><a href="{% url  'cat_edit' id=objs.id %}"  style="color:green;">Edit</a></td>
                                       <td><a href="{% url 'cat_delete' id=objs.id %}">Delete</a></td>
                                   </tr>
                                   {% endfor %}
                               </tbody>
                           </table>
                       </div>
                    </div>
                   </div>
               </div>
           
           <!-- Table End -->









{% if messages %}
{% for message in messages %}
    <script>
      alert('{{ message }}')
    </script>
{% endfor %}
{% endif %}


{% endblock  %}