{% extends 'customadmin/main2.html' %}
{% load static %}
{% block content2 %}


{% if messages %}
{% for message in messages %}
<script>
     alert('{{ message }}');
</script>
{% endfor %}
{% endif %}
     

<style>
     img{
          height:auto;
          width:30px;
     }
</style>


            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4" style="margin-top:100px;">
               <div class="row g-4">
                   <div class="col-lg-11 col-xl-12 ">
                       <div class="bg-secondary rounded h-100 p-4">
                           <h6 class="mb-4 text-center">User's Profile Table</h6>
                           <table class="table table-hover ">
                               <thead>
                                   <tr>
                                       <th scope="col">Id</th>
                                       <th scope="col">Username</th>
                                       <th scope="col">Profile pic</th>
                                       <th scope="col">Contact Number</th>
                                       <th scope="col">Address</th>
                                       <th scope="col">Updated On</th>
                                       <th scope="col">Edit</th>
                                       
                                   </tr>
                               </thead>
                               <tbody>
                                   {% for obj in usr %}
                                   <tr>
                                       <th scope="row">{{ obj.id }}</th>
                                       <td scope="row">{{ obj.user }}</th>
                                       {% if obj.profile_pic %}
                                       <td><img src="/media/{{ obj.profile_pic }}"></td>
                                       {% else %}
                                       <td>---</td>
                                       {% endif %}
                                       {% if obj.contact_number %}
                                       <td>{{ obj.contact_number }}</td>
                                       {% else %}
                                       <td>---</td>
                                       {% endif %}
                                       {% if obj.address %}
                                       <td>{{ obj.address }}</td>
                                       {% else %}
                                       <td>---</td>
                                       {% endif %}
                                       <td>{{ obj.updated_on}}</td>
                                       <td><a href="{% url 'profile_update' id=obj.id %}"  style="color:green;">Edit</a></td> 
                                       
                                   </tr>
                                   {% endfor %}
                               </tbody>
                           </table>
                       </div>
                    </div>
                   </div>
               </div>
           
           <!-- Table End -->

{% endblock %}